<a href="https://colab.research.google.com/github/haztom/Module1/blob/main/LIst%20Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
# create a list called 'my_list' with elements 'John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30

my_list= ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]
print (my_list)

# how many elements my_list has ?
print ("how many elements?")
print ("My_list has", len (my_list), "elements")

# append 'Bill' to the list and check now its length
print ("append 'Bill' and check length")
my_list.append ("Bill")
print (my_list)
print ("My_list has", len (my_list), "elements")

# return 'John'
print ("Return 'John'")
print (my_list [0])

# return 'Bill'
print ("Return 'Bill'")
print (my_list [-1])

# return 34
print ("Return '34'")
print (my_list [-3])

# return John and Emma
print ("Return 'John' and 'Emma'")
print (my_list [:2])

# return Emma, 10, 5
print ("Return 'Emma, 10, 5'")
print (my_list [1:4])

# return Tom, 34, 30, Bill
print ("Return 'Tom, 34, 40, Bill'")
print (my_list[6:])

# insert an element 'Julia' in the list at 2nd position
print ("Insert 'Julia' at position 2")
my_list.insert (1, "Julia")
print (my_list)

# insert an element 'Anna" in the list before 30
print ("Insert 'Anna' before '30'")
my_list.insert (-2, "Anna")
print (my_list)

# remove element 'Emma' (2 ways to remove it)
print ("Remove 'Emma' with 'remove'")
my_list = ['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
my_list.remove("Emma")
print (my_list)

## OR 
print ("Remove 'Emma' with 'pop'")
my_list = ['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
my_list.pop(2)
print (my_list)

# append a new list [Sarah, 42, Jerry] ==> to obtain a nested list
print("Append 'Sarah, 42, Jerry' to create a nested list")
my_list.append(["Sarah", 42, "Jerry"])
print (my_list)

# return 'Sarah'
print ("Return 'Sarah'")
print (my_list [-1][0])

['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]
how many elements?
My_list has 9 elements
append 'Bill' and check length
['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']
My_list has 10 elements
Return 'John'
John
Return 'Bill'
Bill
Return '34'
34
Return 'John' and 'Emma'
['John', 'Emma']
Return 'Emma, 10, 5'
['Emma', 10, 5]
Return 'Tom, 34, 40, Bill'
['Tom', 34, 30, 'Bill']
Insert 'Julia' at position 2
['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']
Insert 'Anna' before '30'
['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
Remove 'Emma' with 'remove'
['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
Remove 'Emma' with 'pop'
['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']
Append 'Sarah, 42, Jerry' to create a nested list
['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill', ['Sarah', 42, 'Jerry']]
Return 'Sarah'
Sarah